.photo-grid {
  max-width: 880px;
  margin: 51px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  row-gap: 20px;
  column-gap: 17px;
}

@media screen and (max-width:920px) {
  .photo-grid {
    width: 88.125%;
    margin-top: 36px;
  }
}
