.popup__input-label {
  width: 100%;
  padding: 0;
  margin: 0 0 18px 0;

}

@media screen and (max-width:650px) {
  .popup__input-label {
    margin: 0 0 7px 0;
  }
}

.popup__input-label:first-of-type {
  margin-bottom: 0;
}

