.profile__pen {
    height: 10px;
    width: 10px;
    background-image: url("../../../images/pen.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:800px) {
    .profile__pen {
        height: 7.5px;
        width: 7.5px;

    }
}